.tile-inner {
    background-size: cover;
}

.tile-2 .tile-inner {
    background-image: url("../img/1.jpg");
}

.tile-4 .tile-inner {
    background-image: url("../img/2.jpg");
}

.tile-8 .tile-inner {
    background-image: url("../img/3.jpg");
}

.tile-16 .tile-inner {
    background-image: url("../img/4.jpg");
}

.tile-32 .tile-inner {
    background-image: url("../img/5.jpg");
}

.tile-64 .tile-inner {
    background-image: url("../img/6.jpg");
}

.tile-128 .tile-inner {
    background-image: url("../img/7.jpg");
}

.tile-256 .tile-inner {
    background-image: url("../img/8.jpg");
}

.tile-512 .tile-inner {
    background-image: url("../img/9.jpg");
}

.tile-1024 .tile-inner {
    background-image: url("../img/10.jpg");
}

.tile-2048 .tile-inner:before {
    content: "2048";
}
